body {
  background-color:lightcyan;
  } 
  table.center {
    width: 12%;
    margin-left: auto; 
    margin-right: auto; 
  }
table {
  color: black;
  font-family: Garamond;
  font-size: 25px;
}
  